/**
  Переменные для отступов
 */

$offset-1: 8px;
$offset-2: 16px;
$offset-3: 24px;
$offset-4: 32px;
$offset-5: 40px;
$offset-6: 48px;

/**
  Переменные для цветов
 */
$black: #231f20;
$orange: #f7941f;
$pink: #f5638c;
$purple: #e41092;

/**
  Переменные для шрифтов
 */

$font-size-1: 12px;
$font-size-2: 16px;
$font-size-3: 18px;
$font-size-4: 24px;
$font-size-5: 36px;
