
@import '_mixins';
@import '_variables';
@import '_fonts';

@import '../blocks/header/header.scss';
@import '../blocks/sidebar/sidebar.scss';
@import '../blocks/footer/footer.scss';
@import '../blocks/wallets/wallets.scss';
@import '../blocks/alert/alert.scss';
@import '../blocks/account-balance/account-balance.scss';
@import '../blocks/transaction-history/transaction-history.scss';
@import '../blocks/social-media-feed/social-media-feed.scss';
@import '../blocks/bitcoin-price/bitcoin-price.scss';
@import '../blocks/bitcoin-selling-price/bitcoin-selling-price.scss';

h1, h2, h3, h4, h5, h6, p, span {
    color: #575757;
}

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
}

.page {
    display: flex;
    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @media screen and (max-width: 490px) {
            padding-top: 80px;
        }
    }
}

.border-block {
    border: 1px solid #e0e0e0;
    border-radius: 2px;

    @media screen and (max-width: 991px) {
        width: 100% !important;
    }

    &__header {
        padding: 18px;
        border-bottom: 1px solid #e0e0e0;
    }
    &__title {
        font-family: Mina, sans-serif;
        font-weight: 400;
        font-size: $font-size-4;
    }

    &__title_deckstop {
        display: inline;

        @media screen and (max-width: 490px) {
            display: none;
        }
    }

    &__title_mobile {
        display: none;

        @media screen and (max-width: 490px) {
            display: inline;
        }
    }

    &__body {
        transition: all .25s ease;
    }
    
}

.section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__column {
        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (max-width: 991px) {
            width: 100% !important;
        }
    }
    
}

.btn-border {
    margin-left: auto;
    border: 1px solid #e7cbdc;
    border-radius: 3px;
    font-family: Mina, sans-serif;
    font-weight: 700;
    font-size: $font-size-2;
    color: #dd97c1;
    width: 112px;
    text-align: center;
    transition: all .25 ease;
    padding: 6px;
    background-color: white;
    &:hover {
        opacity: .7;
        background-color: #dd97c1;
        color: white;
    }

    @media screen and (max-width: 490px) {
        display: none;
    }
}

.accordion {
    position: relative;

    @media screen and (max-width: 490px) {
        &::after {
            content: ''; 
            position: absolute;
            right: 15px; 
            bottom: calc(50% - 9px);
            border: 6px solid transparent;
            border-top: 6px solid #c5c5c5;
        }

        &_active::after {
            bottom: calc(50% - 3px);
            border: 6px solid transparent;
            border-bottom: 6px solid #c5c5c5;
        }
    }
}

.mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 9;
    top: 63px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 10px;
    list-style-type: none;
    font-weight: bold;
    background-color: rgba(0, 0, 0, .8);
    
    &__item {
        margin-top: 10px;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    &__link {
        font-size: 20px;
        color: $pink;
        width: 100%;
    }
}