<aside class="sidebar">
    <a href="#" class="sidebar__item sidebar__item_active">
        <div class="sidebar__icon">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="33px"
                height="31px">
                <path fill-rule="evenodd" fill="rgb(245, 240, 237)"
                    d="M25.767,0.001 C25.075,0.001 24.510,0.582 24.510,1.295 L24.510,7.478 L17.873,0.648 C17.382,0.143 16.558,0.143 16.067,0.648 L1.339,15.843 C0.848,16.349 0.848,17.157 1.339,17.662 C1.830,18.167 2.616,18.167 3.107,17.662 L16.970,3.396 L30.873,17.702 C31.118,17.955 31.452,18.106 31.776,18.106 C32.100,18.106 32.395,17.955 32.640,17.702 C33.131,17.197 33.131,16.389 32.640,15.884 L28.281,11.398 L28.281,1.295 C28.281,0.582 27.716,0.001 27.024,0.001 L25.767,0.001 ZM16.970,5.780 L3.146,20.006 L3.146,27.119 C3.146,29.261 4.835,30.998 6.916,30.998 L27.024,30.998 C29.106,30.998 30.794,29.261 30.794,27.119 L30.794,20.006 L16.970,5.780 ZM14.457,18.066 L19.484,18.066 C20.176,18.066 20.740,18.647 20.740,19.359 L20.740,27.119 C20.740,27.831 20.176,28.412 19.484,28.412 L14.457,28.412 C13.764,28.412 13.200,27.831 13.200,27.119 L13.200,19.359 C13.200,18.647 13.764,18.066 14.457,18.066 Z" />
            </svg>
        </div>
        <span class="sidebar__text">Home</span>
    <av>
    <a href="#" class="sidebar__item">
        <div class="sidebar__icon">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35px"
                height="31px">
                <path fill-rule="evenodd" fill="rgb(255, 250, 247)"
                    d="M17.688,-0.000 L10.362,7.001 L10.408,7.045 L10.316,7.045 L11.053,9.863 L31.188,9.863 L28.378,19.727 L11.468,19.727 L7.598,4.932 C7.269,3.677 6.094,2.818 4.741,2.818 L1.470,2.818 C0.658,2.818 -0.005,3.451 -0.005,4.227 C-0.005,5.003 0.658,5.636 1.470,5.636 L4.741,5.636 L8.611,20.432 C8.940,21.687 10.114,22.545 11.468,22.545 L28.378,22.545 C29.708,22.545 30.837,21.703 31.188,20.476 L35.012,7.045 L32.432,7.045 L25.060,-0.000 L21.374,3.523 L17.688,-0.000 ZM26.535,22.545 C24.110,22.545 22.111,24.455 22.111,26.773 C22.111,29.090 24.110,31.000 26.535,31.000 C28.959,31.000 30.958,29.090 30.958,26.773 C30.958,24.455 28.959,22.545 26.535,22.545 ZM13.265,22.545 C10.840,22.545 8.842,24.455 8.842,26.773 C8.842,29.090 10.840,31.000 13.265,31.000 C15.689,31.000 17.688,29.090 17.688,26.773 C17.688,24.455 15.689,22.545 13.265,22.545 ZM17.688,4.007 L20.913,7.045 L14.509,7.045 L17.688,4.007 ZM25.060,4.007 L28.239,7.045 L25.060,7.045 L23.494,5.548 L25.060,4.007 ZM13.265,25.364 C14.094,25.364 14.739,25.980 14.739,26.773 C14.739,27.565 14.094,28.182 13.265,28.182 C12.436,28.182 11.790,27.565 11.790,26.773 C11.790,25.980 12.436,25.364 13.265,25.364 ZM26.535,25.364 C27.364,25.364 28.009,25.980 28.009,26.773 C28.009,27.565 27.364,28.182 26.535,28.182 C25.705,28.182 25.060,27.565 25.060,26.773 C25.060,25.980 25.705,25.364 26.535,25.364 Z" />
            </svg>
        </div>
        <span class="sidebar__text">Buy Bitcoin</span>
    </a>
    <a href="#" class="sidebar__item">
        <div class="sidebar__icon">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32px"
                height="32px">
                <path fill-rule="evenodd" fill="rgb(255, 250, 247)"
                    d="M30.333,23.800 C29.500,24.375 20.141,30.467 19.374,30.980 C18.607,31.492 17.774,32.000 16.494,32.000 C15.790,32.000 14.960,31.812 13.935,31.300 C13.295,30.980 11.135,29.832 9.536,29.000 L8.176,28.280 C7.151,27.767 6.843,27.847 6.076,28.360 L4.336,29.500 C4.209,29.565 4.029,29.625 3.836,29.560 C3.709,29.495 3.521,29.372 3.456,29.180 L0.057,21.640 C-0.071,21.320 0.057,20.927 0.377,20.800 C5.624,18.432 7.036,17.860 8.636,17.860 C11.708,17.860 12.848,19.127 13.615,19.960 C13.870,20.215 14.062,20.412 14.255,20.540 C14.510,20.667 14.975,20.867 15.615,21.060 C16.767,21.380 18.169,21.635 19.194,21.700 C20.474,21.765 21.114,22.532 21.114,23.300 C21.114,23.492 21.119,23.607 21.054,23.800 L21.054,23.880 C21.054,23.942 20.974,23.935 20.974,24.000 C20.846,24.255 20.669,24.447 20.414,24.640 C20.159,24.832 19.767,24.960 19.254,24.960 L15.615,24.960 C14.080,24.960 11.968,24.385 11.775,24.320 L11.695,24.320 C11.503,24.255 11.380,24.327 11.315,24.520 C11.250,24.647 11.323,24.835 11.515,24.900 C11.580,24.900 13.687,25.540 15.415,25.540 L19.254,25.540 C19.894,25.540 20.846,25.600 21.934,24.960 L28.793,20.360 C30.328,19.400 32.055,19.847 31.992,21.640 C31.992,22.280 31.357,23.095 30.333,23.800 ZM21.494,24.440 L21.434,24.520 C21.689,24.135 21.814,23.685 21.814,23.300 C21.814,22.725 21.566,22.147 21.054,21.700 L24.253,19.520 C25.341,18.815 26.093,18.560 26.733,18.560 C27.373,18.560 28.400,18.887 28.593,19.720 L21.554,24.380 L21.494,24.440 ZM21.254,14.351 C23.714,12.958 25.354,10.260 25.354,7.227 C25.354,4.193 23.714,1.579 21.254,0.102 C24.780,0.512 27.583,3.537 27.583,7.227 C27.583,10.917 24.860,13.941 21.254,14.351 ZM22.514,17.920 C23.666,17.920 24.633,18.560 24.633,18.560 L20.474,21.380 C20.154,21.252 19.701,21.120 19.254,21.120 C18.614,21.120 17.727,20.992 16.894,20.800 C18.047,20.097 19.967,18.875 20.414,18.620 C21.054,18.172 21.809,17.920 22.514,17.920 ZM24.303,7.227 C24.303,10.917 21.581,13.941 17.974,14.351 C20.434,12.958 22.074,10.260 22.074,7.227 C22.074,4.193 20.434,1.579 17.974,0.102 C21.501,0.512 24.303,3.537 24.303,7.227 ZM21.023,7.227 C21.023,11.244 17.814,14.454 13.797,14.454 C9.781,14.454 6.572,11.244 6.572,7.227 C6.572,3.210 9.781,-0.000 13.797,-0.000 C17.814,-0.000 21.023,3.210 21.023,7.227 ZM13.951,5.023 C14.771,5.023 15.268,5.269 15.514,5.433 L15.847,4.203 C15.437,4.039 15.021,3.870 14.284,3.870 L14.284,2.973 L13.234,2.973 L13.234,3.947 C12.087,4.193 11.414,4.940 11.414,5.843 C11.414,6.910 12.164,7.380 13.311,7.791 C14.131,8.037 14.464,8.303 14.464,8.713 C14.464,9.123 14.038,9.354 13.464,9.354 C12.808,9.354 12.158,9.114 11.748,8.867 L11.414,10.097 C11.824,10.260 12.497,10.507 13.234,10.507 L13.234,11.481 L14.284,11.481 L14.284,10.430 C15.514,10.267 16.164,9.440 16.001,8.457 C16.001,7.474 15.514,6.894 14.284,6.484 C13.464,6.157 13.054,5.913 13.054,5.587 C13.054,5.340 13.295,5.023 13.951,5.023 Z" />
            </svg>
        </div>
        <span class="sidebar__text">Sell Bitcoin</span>
    </a>
    <a href="#" class="sidebar__item">
        <div class="sidebar__icon">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="33px"
                height="33px">
                <path fill-rule="evenodd" fill="rgb(255, 250, 247)"
                    d="M4.889,-0.000 L4.889,17.111 L7.333,17.111 L7.333,2.444 L24.444,2.444 L24.444,12.222 L26.889,12.222 L26.889,-0.000 L4.889,-0.000 ZM9.778,7.333 L9.778,9.778 L12.222,9.778 L12.222,7.333 L9.778,7.333 ZM14.667,7.333 L14.667,9.778 L22.000,9.778 L22.000,7.333 L14.667,7.333 ZM9.778,12.222 L9.778,14.667 L12.222,14.667 L12.222,12.222 L9.778,12.222 ZM14.667,12.222 L14.667,14.667 L16.500,14.667 L16.500,12.222 L14.667,12.222 ZM18.333,13.444 L18.333,15.889 L19.555,15.889 L19.555,18.333 C19.555,20.291 20.534,22.124 22.000,23.222 C20.534,24.320 19.555,26.153 19.555,28.111 L19.555,30.555 L18.333,30.555 L18.333,33.000 L33.000,33.000 L33.000,30.555 L31.778,30.555 L31.778,28.111 C31.778,26.153 30.799,24.320 29.333,23.222 C30.799,22.124 31.778,20.291 31.778,18.333 L31.778,15.889 L33.000,15.889 L33.000,13.444 L18.333,13.444 ZM22.000,15.889 L29.333,15.889 L29.333,18.333 C29.333,20.410 27.743,22.000 25.667,22.000 C23.590,22.000 22.000,20.410 22.000,18.333 L22.000,15.889 ZM-0.000,18.333 L-0.000,22.000 C-0.000,24.697 2.191,26.889 4.889,26.889 L17.822,26.889 C17.961,26.034 18.243,25.213 18.644,24.444 L4.889,24.444 C3.542,24.444 2.444,23.346 2.444,22.000 L2.444,20.778 L18.123,20.778 C17.865,19.995 17.722,19.169 17.722,18.333 L-0.000,18.333 ZM23.222,18.333 C23.222,18.333 23.222,20.778 25.667,20.778 C28.111,20.778 28.111,18.333 28.111,18.333 L23.222,18.333 ZM25.667,24.444 C27.743,24.444 29.333,26.034 29.333,28.111 L29.333,30.555 L28.111,30.555 C28.111,29.209 27.013,28.111 25.667,28.111 C24.320,28.111 23.222,29.209 23.222,30.555 L22.000,30.555 L22.000,28.111 C22.000,26.034 23.590,24.444 25.667,24.444 Z" />
            </svg>
        </div>
        <span class="sidebar__text">History</span>
    </a>
    <a href="#" class="sidebar__item">
        <div class="sidebar__icon">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px">
                <path fill-rule="evenodd" fill="rgb(250, 245, 242)"
                    d="M13.085,-0.005 L12.383,4.438 C11.316,4.701 10.298,5.095 9.383,5.646 L5.720,3.035 L3.070,5.685 L5.642,9.348 C5.086,10.268 4.662,11.277 4.395,12.348 L-0.009,13.089 L-0.009,16.830 L4.395,17.609 C4.662,18.681 5.086,19.689 5.642,20.610 L3.031,24.273 L5.681,26.923 L9.344,24.351 C10.259,24.901 11.277,25.296 12.344,25.559 L13.085,30.001 L16.826,30.001 L17.644,25.559 C18.706,25.291 19.695,24.867 20.606,24.312 L24.308,26.923 L26.958,24.273 L24.308,20.610 C24.853,19.699 25.292,18.705 25.555,17.648 L29.997,16.830 L29.997,13.089 L25.555,12.348 C25.292,11.291 24.853,10.298 24.308,9.387 L26.919,5.685 L24.269,3.035 L20.606,5.685 C19.695,5.134 18.672,4.706 17.605,4.438 L16.826,-0.005 L13.085,-0.005 ZM14.994,6.854 C19.490,6.854 23.139,10.502 23.139,14.998 C23.139,19.494 19.490,23.143 14.994,23.143 C10.498,23.143 6.850,19.489 6.850,14.998 C6.850,10.507 10.498,6.854 14.994,6.854 ZM14.994,8.841 C11.604,8.841 8.837,11.608 8.837,14.998 C8.837,18.388 11.604,21.155 14.994,21.155 C18.384,21.155 21.151,18.388 21.151,14.998 C21.151,11.608 18.384,8.841 14.994,8.841 ZM14.955,12.426 C16.382,12.426 17.566,13.566 17.566,14.998 C17.566,16.425 16.382,17.570 14.955,17.570 C13.528,17.570 12.383,16.425 12.383,14.998 C12.383,13.566 13.528,12.426 14.955,12.426 Z" />
            </svg>
        </div>
        <span class="sidebar__text">Settings</span>
    </a>
    <a href="#" class="sidebar__item">
        <div class="sidebar__icon">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="28px">
                <path fill-rule="evenodd" fill="rgb(250, 245, 242)"
                    d="M16.714,4.008 L16.714,7.726 C17.765,8.158 18.731,8.776 19.566,9.563 C21.320,11.215 22.286,13.413 22.286,15.750 C22.286,18.087 21.320,20.284 19.566,21.937 C17.812,23.590 15.480,24.500 13.000,24.500 C10.519,24.500 8.188,23.590 6.434,21.937 C4.680,20.284 3.714,18.087 3.714,15.750 C3.714,13.413 4.680,11.215 6.434,9.563 C7.269,8.776 8.235,8.158 9.286,7.726 L9.286,4.008 C3.916,5.514 -0.000,10.201 -0.000,15.750 C-0.000,22.515 5.820,28.000 13.000,28.000 C20.180,28.000 26.000,22.515 26.000,15.750 C26.000,10.201 22.084,5.514 16.714,4.008 ZM11.143,-0.000 L14.857,-0.000 L14.857,14.000 L11.143,14.000 L11.143,-0.000 Z" />
            </svg>
        </div>
        <span class="sidebar__text">Log out</span>
    </a>
</aside>