.sidebar {
    width: 150px;
    height: 100%;
    background: $pink;
    padding-top: 74px;
    border-right: 1px solid #c75072;

    &__item {
        width: 100%;
        height: 111px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        cursor: pointer;

        &::after, &:last-child::before {
            content: '';
            width: 100%;
            height: 2px;
            background-color: #fa759a;
            border-bottom: 1px solid #de597f;
            position: absolute;
            top: 0;
            left: 0;
        }

        &:last-child::before {
            top: 100%;
        }

        &:hover {
            text-decoration: none;
        }
    }

    &__icon {
        margin-bottom: 14px;
    }

    &__text {
        font-family: Mina, sans-serif;
        font-weight: 700;
        font-size: $font-size-3;
        color: white;
    }

    &__item_active {
        background-color: #ff7ca1;

        .svg path {
            fill: $purple;
        }

        .sidebar__text {
            color: $purple;
        }
    }

    @media screen and (max-width: 490px) {
        display: none;
    }
}