.alert {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border: 1px dashed #cbcbcb;
    border-radius: 3px;
    background-color: #fffefa;

    @media screen and (max-width: 490px) {
        flex-direction: column-reverse;
    }

    &__text {
        margin-bottom: 0;
        font-family: Mina, sans-serif;
        font-weight: 400;
        font-size: 17px;
        padding-top: 5px;

        @media screen and (max-width: 490px) {
            padding-top: 0px !important;
        }
    }

    &__close {
        @media screen and (max-width: 490px) {
            margin-left: auto;
            margin-top: -10px;
            margin-right: -10px;
        }
    }
}