<section class="alert">
    <p class="alert__text">Have you thought about Verifying your Account?</p>
    <a href="#" class="alert__close">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14px" height="14px">
            <path fill-rule="evenodd" opacity="0.541" fill="rgb(61, 61, 61)"
                d="M14.000,1.409 L8.409,7.000 L14.000,12.591 L12.590,14.000 L7.000,8.409 L1.409,14.000 L-0.000,12.591 L5.590,7.000 L-0.000,1.409 L1.409,-0.000 L7.000,5.591 L12.590,-0.000 L14.000,1.409 Z" />
        </svg>
    </a>
</section>