{% set walletsArray = [
    { name: 'Wallet #1', number: 0.12345678, coin: 'BTC', income: 0.023829, class: 'increase', date: 'From last Week' },
    { name: 'Wallet #2', number: 0.002455, coin: 'BTC', income: 2.83921754, class: 'increase', date: 'From last Week' },
    { name: 'My sister’s wallet', number: 0.0001, coin: 'BTC', income: 0.0001, class: 'increase', date: 'From last Week' },
    { name: 'Wallet #4', number: 0.002455, coin: 'BTC', income: 0.00001754, class: 'decrease', date: 'From last Month' }
] %}

<div class="swiper-container">
    <section class="wallets swiper-wrapper">
        {% for wallet in walletsArray %}
        <div class="wallets__item swiper-slide">
            <div class="wallet-title">
                <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="14px" height="14px">
                    <path fill-rule="evenodd" fill="rgb(193, 193, 193)"
                        d="M12.600,3.368 L2.100,3.368 L12.600,1.589 L12.324,0.891 C12.078,0.267 11.432,-0.096 10.782,0.020 L1.157,1.736 C0.487,1.855 -0.000,2.445 -0.000,3.133 L-0.000,12.587 C-0.000,13.371 0.626,14.006 1.400,14.006 L12.600,14.006 C13.374,14.006 14.000,13.371 14.000,12.587 L14.000,4.782 C14.000,3.998 13.374,3.368 12.600,3.368 ZM11.550,9.749 C10.970,9.749 10.500,9.272 10.500,8.684 C10.500,8.097 10.970,7.620 11.550,7.620 C12.130,7.620 12.600,8.097 12.600,8.684 C12.600,9.272 12.130,9.749 11.550,9.749 Z" />
                </svg>
                <span class="wallet-title__text">{{wallet.name}}</span>
            </div>
            <div class="wallet-account">
                <span class="wallet-account__number">{{wallet.number}} </span>
                <span class="wallet-account__coin-name">{{wallet.coin}}</span>
            </div>
            <div class="wallet-income-info">
                <span
                    class="wallet-income-info__number income-info__number_type-{{wallet.class}}">{{wallet.income}}</span>
                <span class="wallet-income-info__text">{{wallet.date}}</span>
            </div>
        </div>
        {% endfor %}
        <a href="#" class="wallets__add-item swiper-slide">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px"
                height="30px">
                <path fill-rule="evenodd" fill="rgb(240, 237, 235)"
                    d="M15.000,-0.000 C6.716,-0.000 -0.000,6.716 -0.000,15.000 C-0.000,23.284 6.716,30.000 15.000,30.000 C23.284,30.000 30.000,23.284 30.000,15.000 C30.000,6.716 23.284,-0.000 15.000,-0.000 ZM22.500,16.250 L16.250,16.250 L16.250,22.500 C16.250,23.191 15.690,23.750 15.000,23.750 C14.310,23.750 13.750,23.191 13.750,22.500 L13.750,16.250 L7.500,16.250 C6.810,16.250 6.250,15.691 6.250,15.000 C6.250,14.309 6.810,13.750 7.500,13.750 L13.750,13.750 L13.750,7.500 C13.750,6.809 14.310,6.250 15.000,6.250 C15.690,6.250 16.250,6.809 16.250,7.500 L16.250,13.750 L22.500,13.750 C23.190,13.750 23.750,14.309 23.750,15.000 C23.750,15.691 23.190,16.250 22.500,16.250 Z" />
            </svg>
            <span class="text">
                Add Wallets
            </span>
        </a>
    </section>
    <div class="swiper-pagination"></div>
</div>