
.wallets {
    width: 100%;
    margin-bottom: 36px;

    &__item {
        padding-left: 25px;
        position: relative;
        flex-direction: column;

        @media screen and (max-width: 490px) {
            padding-left: 12px;
            padding-right: 0px !important;

            &:not(.swiper-slide-active) {
                &::after {
                    display: none !important;
                }
            }
        }

        &::after {
            content: '';
            display: block;
            width: 2px;
            height: 67px;
            background-color: #ededed;
            position: absolute;
            right: 0;
            bottom: 0;

            @media screen and (max-width: 490px) {
                right: -25px !important;
            }
        }

        &:first-child {
            padding-left: 0;

            @media screen and (max-width: 490px) {
                padding-right: 12px !important;
            }
        }

    }

    &__add-item {
        display: flex;
        align-items: center;
        min-height: 67px;
        margin-top: auto;
        padding-left: 25px;

        @media screen and (max-width: 490px) {
            padding-left: 0;
        }

        .svg {
            margin-right: 10px;
        }

        .text {
            padding-top: 5px;
            font-family: Mina, sans-serif;
            font-weight: 400;
            font-size: 22px;
            color: #dfdbd9;

            @media screen and (max-width: 490px) {
                font-size: 16px;
            }
        }
    }
}

.swiper-container {
    .swiper-pagination { 
        &-bullet {
            background-color: white;
            border: 2px solid $pink;
            margin-left: 5px;
            opacity: 1;
            
            &:first-child {
                margin-left: 0;
            }
    
        }

        &-bullet-active {
            background-color: $pink;
    
            @media screen and (max-width: 490px) {
                font-size: 16px;
            }
        }
    }

}

.wallet-title {
    display: flex;
    align-items: center;

    .svg {
        margin-right: 11px;
        flex-shrink: 0;
    }

    &__text {
        font-family: Mina, sans-serif;
        font-weight: 400;
        font-size: $font-size-2;
        color: #7b7b7c;
        padding-top: 5px;
        white-space: nowrap;

        @media screen and (max-width: 490px) {
            font-size: 15px;
        }
    }
}

.wallet-account {
    white-space: nowrap;
    &__number {
        font-family: Avenir-Lt-Std, sans-serif;
        font-weight: 300;
        font-size: 33px;
        color: #797979;

        @media screen and (max-width: 490px) {
            font-size: 24px !important;
        }
    }

    &__coin-name {
        font-family: Mina, sans-serif;
        font-weight: 700;
        font-size: $font-size-1;
        color: #a9a9aa;
        text-transform: uppercase;
    }
}

.wallet-income-info {
    @media screen and (max-width: 490px) {
        display: none;        
    }

    &__number {
        font-family: Avenir-Lt-Std, sans-serif;
        font-weight: 300;
        font-size: $font-size-2;
        color: #797979;
    }

    &__number_type-increase {
        color: #00ce87;
        position: relative;
        display: inline-block;
        padding-right: 10px;
        &::after {
            border: 3px solid transparent;
            border-bottom: 3px solid #00ce87;
            content: ''; 
            position: absolute;
            right: 0px; 
            top: 3px;
        }
    }

    &__number_type-decrease {
        color: #f85656;
        position: relative;
        display: inline-block;
        padding-right: 10px;
        &::after {
            border: 3px solid transparent;
            border-top: 3px solid #f85656;
            content: ''; 
            position: absolute;
            right: 0px; 
            top: 6px;
        }
    }

    &__text {
        font-family: Mina, sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: #a7a7a7;
        margin-left: 10px;
    }
}