@import './person/person.scss';

.social-media-feed {
    margin-top: 20px;
    width: 49%;

    @media screen and (max-width: 490px) {
        margin-top: 15px;
    }

    &__header {
        display: flex;
        align-items: center;
    }

    &__body {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        height: 585px;
    }

    &__title {
        margin-right: auto;
    }

    &__btn {
        margin-left: 18px;
    }

    &__item {
        padding: 30px 28px 20px;
        border-bottom: 1px solid #e2e2e2;
    }

    &__text {
        margin-top: 20px;
        font-family: Mina, sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: black;
        margin-bottom: 0;
    }

    &__link {
        color: $purple;
        text-decoration: underline;
        transition: .25s all ease;

        &:hover {
            text-decoration: none;
        }
    }
}
