<div class="social-media-feed border-block">
    <div class="border-block__header social-media-feed__header accordion">
        <span class="border-block__title social-media-feed__title">Social Media Feed</span>
        <button class="btn-border social-media-feed__btn">
            See More
        </button>
        <button class="btn-border social-media-feed__btn">
            Update
        </button>
    </div>
    <div class="border-block__body social-media-feed__body">
        {% for item in [1,2,3,4,5,6,7,8,9] %}
        <div class="social-media-feed__item">
            {% include './person/person.html' %}
            <p class="social-media-feed__text">
                US Marshals Service To Sell Nearly $25 Mln Worth Of Seized
                Bitcoin At Auction <a href="#" class="social-media-feed__link">http://ow.ly/8R4E30iNkkY</a>
            </p>
        </div>
        {% endfor %}
    </div>
</div>