<div class="transaction-history border-block">
    <div class="transaction-history__header border-block__header accordion">
        <span class="border-block__title">Transaction History</span>
        <button class="btn-border">
            View More
        </button>
    </div>
    <div class="border-block__body transaction-history__body">
        {% include './table/table.html' %}
    </div>
</div>