@import './table/table.scss';

.transaction-history {
    width: 67%;
    margin-top: 38px;

    @media screen and (max-width: 490px) {
        margin-top: 15px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__body {
        height: 100%;
    }
}
