<footer class="footer">
    <div class="container">
        <div class="footer__nav">
            <a href="#" class="footer__link">Privacy Policy</a>
            <a href="#" class="footer__link">Terms and conditions</a>
            <a href="#" class="footer__link">Get Support</a>
            <a href="#" class="footer__link">Contact Us</a>
        </div>

        {% include './socials-block/socials-block.html' %}

        <p class="footer__text">© 2018 Bitcoin Babe PTY LTD</p>
    </div>
</footer>