@import 'socials-block/socials-block.scss';

.footer {
    font-family: Mina, sans-serif;
    font-weight: 400;
    border-top: 1px solid #d9d6d4;
    background-color: #ebe9e8;
    text-align: center;
    padding: 30px 0 23px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 490px) {
        margin-top: 15px;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 991px) {
              flex-wrap: wrap;
        }
    }

    &__link {
        font-size: $font-size-2;
        margin-right: 55px;
        text-decoration: underline;
        cursor: pointer;
        color: black;
        transition: all .25s ease;

        @media screen and (max-width: 991px) {
            margin-top: 10px;
            width: 50%;
            margin-right: 0 !important;
        }

        @media screen and (max-width: 490px) {
            margin-top: 25px;
            width: 100%;
        }
    }

    &__link:first-child {
        @media screen and (max-width: 490px) {
            margin-top: 0px;
        }
    }

    &__link:last-child {
        margin-right: 0;
    }

    &__link:hover {
        color: black;
        text-decoration: none;
    }

    &__text {
        @media screen and (max-width: 490px) {
            margin-bottom: 8px;
        }
    }
      
}

