<div class="bitcoin-selling-price border-block">
    <div class="bitcoin-selling-price__header border-block__header accordion">
        <span class="border-block__title border-block__title_deckstop">Bitcoin Selling Price: </span>
        <span class="border-block__title border-block__title_mobile">Selling Price: </span>
        <div class="bitcoin-selling-price-account">
            <span class="bitcoin-selling-price-account__number"> 12’121,22 </span>
            <span class="bitcoin-selling-price-account__coin-name">AUD</span>
        </div>
        <button class="btn-border">
            Sell Bitcoin
        </button>
    </div>
    <div class="bitcoin-selling-price__body border-block__body">
        <img class="bitcoin-selling-price__graph" src="/img/graph2.png" alt="img">
    </div>
</div>