.account-balance {
    width: 31%;
    margin-top: 38px;

    @media screen and (max-width: 490px) {
        margin-top: 15px;
    }

    &__body {
        padding: 28px;
        display: flex;
        flex-direction: column;
    }
}

.account-balance-account {
    line-height: 1;

    &__number {
        font-family: Avenir-Lt-Std, sans-serif;
        font-weight: 300;
        font-size: 47px;
        color: #7b7b7d;
    }

    &__coin-name {
        font-family: Mina, sans-serif;
        font-weight: 700;
        font-size: $font-size-2;
        color: #a7a7a8;
        text-transform: uppercase;
    }
}

.account-balance-updating {
    display: flex;
    align-items: center;
    margin-top: -5px;

    .svg {
        margin-right: 5px;
    }

    &__text {
        font-family: Mina, sans-serif;
        font-weight: 700;
        font-size: 13px;
        color: #a7a7a8;
        padding-top: 5px;
    }
}

.account-balance-expectation {
    display: flex;
    align-items: center;

    .svg {
        margin-right: 7px;
    }

    &__text {
        font-family: Mina, sans-serif;
        font-weight: 400;
        font-size: 19px;
        color: #8c8c8e;
        padding-top: 5px;
    }

    &__number {
        font-family: Avenir-Lt-Std, sans-serif;
        font-weight: 500;
        font-size: 19px;
        color: #8c8c8e;
        padding-top: 5px;
        margin-left: 9px;
    }

    &__coin-name {
        font-family: Mina, sans-serif;
        font-weight: 700;
        font-size: 11px;
        text-transform: uppercase;
        color: #a7a7a8;
        padding-top: 10px;
        margin-left: 5px;
    }
}

.btn-fill {
    margin-left: auto;
    margin-top: 34px;
    border: 1px solid #c85172;
    border-radius: 3px;
    font-family: Mina, sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: white;
    background-color: $pink;
    padding: 10px 30px;
    box-shadow:  0 3px 3px rgba(0, 0, 0, .1);
    transition: all .25 ease;

    &:hover {
        opacity: .9;
    }

    @media screen and (max-width: 490px) {
        margin-top: 18px;
    }
}