<div class="account-balance border-block">
    <div class="border-block__header">
        <span class="border-block__title">Account Balance</span>
    </div>
    <div class="border-block__body account-balance__body">
        <div class="account-balance-account">
            <span class="account-balance-account__number">2’598,63 </span>
            <span class="account-balance-account__coin-name">AUD</span>
        </div>
        <div class="account-balance-updating">
            <svg class="svg"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13px"
                height="13px">
                <path fill-rule="evenodd" opacity="0.502" fill="rgb(30, 29, 29)"
                    d="M6.000,-0.000 L6.000,3.000 L7.000,3.000 L7.000,-0.000 L6.000,-0.000 ZM2.258,1.551 L1.551,2.258 L3.672,4.379 L4.379,3.672 L2.258,1.551 ZM10.742,1.551 L8.621,3.672 L9.328,4.379 L11.449,2.258 L10.742,1.551 ZM-0.000,6.000 L-0.000,7.000 L2.492,7.000 L2.492,6.000 L-0.000,6.000 ZM12.000,6.000 L12.000,7.000 L13.000,7.000 L13.000,6.000 L12.000,6.000 ZM2.965,9.328 L1.551,10.746 L2.258,11.453 L3.672,10.035 L2.965,9.328 ZM10.742,10.035 L10.035,10.742 L10.742,11.449 L11.449,10.742 L10.742,10.035 ZM6.000,11.566 L6.000,13.000 L7.000,13.000 L7.000,11.566 L6.000,11.566 Z" />
            </svg>
            <div class="account-balance-updating__text">Updating...</div>
        </div>
        <div class="account-balance-expectation">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14px"
                height="17px">
                <path fill-rule="evenodd" fill="rgb(170, 170, 169)"
                    d="M-0.000,-0.000 L-0.000,2.550 L1.750,2.550 L1.750,4.250 C1.750,6.023 2.686,7.587 4.101,8.500 C2.686,9.413 1.750,10.977 1.750,12.750 L1.750,14.450 L-0.000,14.450 L-0.000,17.000 L14.000,17.000 L14.000,14.450 L12.250,14.450 L12.250,12.750 C12.250,10.977 11.313,9.413 9.898,8.500 C11.313,7.587 12.250,6.023 12.250,4.250 L12.250,2.550 L14.000,2.550 L14.000,-0.000 L-0.000,-0.000 ZM3.500,2.550 L10.500,2.550 L10.500,4.250 C10.500,5.830 9.379,7.271 7.875,7.650 L7.875,9.350 C9.379,9.728 10.500,11.169 10.500,12.750 L10.500,14.450 L3.500,14.450 L3.500,12.750 C3.500,11.169 4.621,9.728 6.125,9.350 L6.125,7.650 C4.621,7.271 3.500,5.830 3.500,4.250 L3.500,2.550 ZM4.375,4.250 C4.375,5.658 5.551,6.800 7.000,6.800 C8.449,6.800 9.625,5.658 9.625,4.250 L4.375,4.250 Z" />
            </svg>
            <span class="account-balance-expectation__text">Pending:</span>
            <span class="account-balance-expectation__number">1’259,22</span>
            <span class="account-balance-expectation__coin-name"> AUD</span>
        </div>
        <button class="btn-fill">
            Top Up
        </button>
    </div>
</div>