<div class="person">
    <div class="person__img">
        <img src="/img/avatar.png" alt="avatar">
    </div>
    <div>
        <span class="person__name">Bitcoin Babe</span>
        <div class="person__date">March 07, 2018</div>
    </div>
</div>