
.person {
    display: flex;
    align-items: center;

    &__img {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #e0e0e0;
        margin-right: 15px;
        img {
            width: 100%;
            height: 100%;
            text-align: center;
            vertical-align: middle;
        }
    }

    &__name {
        font-family: Mina, sans-serif;
        font-weight: 700;
        font-size: $font-size-2;
        color: $pink;
    }

    &__date {
        font-family: Mina, sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: #605e5e;
    }
}