<div class="socials-block">
    <a href="#" class="socials-block__item">
        <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px"
            height="16px">
            <path fill-rule="evenodd" fill="rgb(235, 233, 232)"
                d="M1.534,3.277 C1.534,3.647 1.534,5.306 1.534,5.306 L0.068,5.306 L0.068,7.808 L1.534,7.808 L1.534,15.213 L4.539,15.213 L4.539,7.808 L6.556,7.808 C6.556,7.808 6.745,6.609 6.832,5.306 C6.571,5.306 4.553,5.306 4.553,5.306 C4.553,5.306 4.553,3.855 4.553,3.603 C4.553,3.336 4.873,2.996 5.192,2.996 C5.526,2.996 6.208,2.996 6.832,2.996 C6.832,2.655 6.832,1.485 6.832,0.404 C5.990,0.404 5.032,0.404 4.611,0.404 C1.447,0.404 1.534,2.892 1.534,3.277 L1.534,3.277 Z" />
        </svg>
    </a>
    <a href="#" class="socials-block__item">
        <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px"
            height="14px">
            <path fill-rule="evenodd" fill="rgb(235, 233, 232)"
                d="M17.180,1.626 C16.566,1.894 15.918,2.077 15.221,2.161 C15.935,1.743 16.466,1.074 16.715,0.272 C16.068,0.657 15.337,0.941 14.557,1.108 C13.942,0.439 13.046,0.021 12.066,0.021 C10.190,0.021 8.663,1.559 8.663,3.448 C8.663,3.716 8.696,3.983 8.763,4.234 C5.924,4.084 3.417,2.713 1.740,0.640 C1.441,1.158 1.275,1.743 1.275,2.362 C1.275,3.565 1.872,4.602 2.786,5.220 C2.238,5.204 1.706,5.053 1.242,4.786 L1.242,4.836 C1.242,6.491 2.420,7.878 3.981,8.196 C3.699,8.280 3.400,8.313 3.085,8.313 C2.869,8.313 2.653,8.296 2.437,8.246 C2.869,9.617 4.131,10.603 5.625,10.637 C4.462,11.556 2.985,12.108 1.391,12.108 C1.109,12.108 0.843,12.091 0.578,12.058 C2.088,13.027 3.881,13.596 5.791,13.596 C12.066,13.596 15.487,8.380 15.487,3.833 L15.470,3.398 C16.151,2.913 16.732,2.311 17.180,1.626 L17.180,1.626 Z" />
        </svg>
    </a>
    <a href="#" class="socials-block__item">
        <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px"
            height="14px">
            <path fill-rule="evenodd" fill="rgb(235, 233, 232)"
                d="M19.108,8.027 L19.108,10.026 L17.148,10.026 L17.148,8.027 L15.188,8.027 L15.188,6.027 L17.148,6.027 L17.148,4.028 L19.108,4.028 L19.108,6.027 L21.068,6.027 L21.068,8.027 L19.108,8.027 ZM6.813,13.979 C3.134,13.979 0.161,10.946 0.161,7.193 C0.161,3.441 3.134,0.408 6.813,0.404 C8.606,0.404 10.109,1.075 11.268,2.179 L9.463,3.953 C8.969,3.470 8.108,2.908 6.813,2.908 C4.543,2.908 2.689,4.828 2.689,7.193 C2.689,9.559 4.543,11.480 6.813,11.480 C9.447,11.480 10.435,9.551 10.586,8.551 L6.813,8.551 L6.813,6.223 L13.093,6.223 C13.151,6.560 13.200,6.902 13.200,7.348 C13.200,11.225 10.652,13.979 6.813,13.979 Z" />
        </svg>
    </a>
    <a href="#" class="socials-block__item">
        <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px"
            height="16px">
            <path fill-rule="evenodd" fill="rgb(235, 233, 232)"
                d="M8.878,0.405 C9.563,0.405 11.886,0.587 12.981,2.929 C13.347,3.717 13.259,5.056 13.187,6.131 L13.185,6.171 C13.177,6.290 13.170,6.399 13.165,6.508 C13.216,6.537 13.305,6.567 13.442,6.567 C13.649,6.557 13.898,6.488 14.157,6.368 C14.271,6.310 14.395,6.300 14.478,6.300 C14.603,6.300 14.726,6.319 14.830,6.359 C15.141,6.457 15.337,6.675 15.337,6.913 C15.348,7.209 15.068,7.467 14.498,7.684 C14.437,7.703 14.354,7.734 14.260,7.763 C13.949,7.852 13.472,8.001 13.338,8.298 C13.276,8.446 13.296,8.644 13.421,8.871 L13.432,8.881 C13.473,8.971 14.487,11.177 16.746,11.533 C16.922,11.562 17.047,11.711 17.036,11.869 C17.036,11.919 17.026,11.968 17.005,12.018 C16.839,12.394 16.125,12.671 14.829,12.858 C14.788,12.918 14.746,13.105 14.716,13.234 C14.695,13.352 14.664,13.472 14.623,13.599 C14.570,13.779 14.436,13.867 14.239,13.867 L14.218,13.867 C14.125,13.867 14.002,13.847 13.846,13.818 C13.597,13.769 13.317,13.729 12.965,13.729 C12.758,13.729 12.551,13.739 12.334,13.778 C11.919,13.847 11.557,14.084 11.142,14.362 C10.552,14.758 9.879,15.213 8.863,15.213 C8.822,15.213 8.781,15.203 8.739,15.203 L8.636,15.203 C7.620,15.203 6.957,14.757 6.367,14.352 C5.953,14.074 5.602,13.837 5.186,13.768 C4.969,13.738 4.751,13.719 4.544,13.719 C4.171,13.719 3.882,13.778 3.665,13.817 C3.519,13.846 3.394,13.866 3.291,13.866 C3.032,13.866 2.929,13.718 2.888,13.589 C2.846,13.462 2.825,13.332 2.794,13.214 C2.762,13.095 2.722,12.888 2.679,12.838 C1.353,12.691 0.639,12.414 0.473,12.028 C0.452,11.986 0.437,11.929 0.435,11.879 C0.425,11.719 0.549,11.572 0.726,11.543 C2.984,11.186 3.998,8.980 4.040,8.887 L4.051,8.868 C4.176,8.640 4.206,8.442 4.134,8.294 C3.999,8.007 3.522,7.859 3.212,7.760 C3.128,7.740 3.046,7.711 2.973,7.681 C2.207,7.394 2.103,7.067 2.145,6.840 C2.207,6.524 2.611,6.316 2.953,6.316 C3.054,6.316 3.139,6.335 3.218,6.365 C3.508,6.493 3.763,6.563 3.981,6.563 C4.143,6.563 4.247,6.524 4.303,6.494 L4.271,6.118 C4.203,5.044 4.116,3.706 4.484,2.922 C5.548,0.592 7.864,0.414 8.547,0.414 L8.837,0.404 L8.878,0.404 L8.878,0.405 Z" />
        </svg>
    </a>
    <a href="#" class="socials-block__item">
        <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19px"
            height="13px">
            <path fill-rule="evenodd" fill="rgb(235, 233, 232)"
                d="M17.899,3.301 C17.899,3.301 17.725,2.091 17.189,1.560 C16.510,0.861 15.751,0.858 15.402,0.816 C12.909,0.638 9.164,0.638 9.164,0.638 L9.158,0.638 C9.158,0.638 5.413,0.638 2.920,0.816 C2.571,0.858 1.812,0.861 1.133,1.560 C0.597,2.091 0.426,3.301 0.426,3.301 C0.426,3.301 0.248,4.720 0.248,6.142 L0.248,7.472 C0.248,8.890 0.426,10.313 0.426,10.313 C0.426,10.313 0.600,11.522 1.133,12.053 C1.812,12.752 2.704,12.728 3.101,12.804 C4.529,12.938 9.164,12.979 9.164,12.979 C9.164,12.979 12.912,12.972 15.406,12.797 C15.754,12.756 16.513,12.752 17.193,12.053 C17.729,11.522 17.903,10.313 17.903,10.313 C17.903,10.313 18.081,8.894 18.081,7.472 L18.081,6.142 C18.077,4.723 17.899,3.301 17.899,3.301 L17.899,3.301 ZM7.319,9.086 L7.319,4.154 L12.135,6.629 L7.319,9.086 L7.319,9.086 Z" />
        </svg>
    </a>
</div>