.socials-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 22px 0 17px;

    &__item {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #b9b8b8;
        display: flex;
        margin-right: 18px;
        cursor: pointer;
        .svg {
            margin: auto;
        }
    }
}