<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <span class="table__thead-text">
                        Date
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px"
                            height="9px">
                            <path fill-rule="evenodd" fill="rgb(126, 126, 126)"
                                d="M11.732,9.001 L5.223,9.001 C5.076,9.001 4.956,8.867 4.956,8.703 L4.956,7.346 C4.956,7.182 5.076,7.047 5.223,7.047 L11.732,7.047 C11.879,7.047 11.999,7.182 11.999,7.346 L11.999,8.703 C11.999,8.867 11.879,9.001 11.732,9.001 ZM9.940,5.487 L5.308,5.487 C5.114,5.487 4.956,5.310 4.956,5.094 L4.956,3.926 C4.956,3.710 5.114,3.533 5.308,3.533 L9.940,3.533 C10.134,3.533 10.292,3.710 10.292,3.926 L10.292,5.094 C10.292,5.310 10.134,5.487 9.940,5.487 ZM8.208,1.973 L5.226,1.973 C5.077,1.973 4.956,1.837 4.956,1.671 L4.956,0.320 C4.956,0.155 5.077,0.019 5.226,0.019 L8.208,0.019 C8.356,0.019 8.478,0.155 8.478,0.320 L8.478,1.671 C8.478,1.837 8.356,1.973 8.208,1.973 ZM2.492,5.233 L2.492,0.003 L3.759,-0.001 L3.759,9.001 L-0.000,5.233 L2.492,5.233 Z" />
                        </svg>
                    </span>
                </th>
                <th><span class="table__thead-text">Type of transaction</span></th>
                <th><span class="table__thead-text">Amount</span></th>
                <th><span class="table__thead-text">Status</span></th>
            </tr>
        </thead>
        <tbody>
            {% for item in [1,2,3,4] %}
            <tr>
                <td >
                    <span class="table__tbody-text">10.01.2018</span>
                    <span class="table__tbody-text table__tbody-text_color-blue">22:04</span>
                </td>
                <td>
                    <span class="table__tbody-text">Fiat Deposit </span>
                    <span class="table__tbody-text table__tbody-text_color-gray">— Bank Transfer Payment</span>
                </td>
                <td>
                    <span class="table__tbody-text">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13px"
                            height="13px">
                            <path fill-rule="evenodd" fill="rgb(109, 237, 184)"
                                d="M6.507,0.007 C2.918,0.007 0.008,2.917 0.008,6.506 C0.008,10.095 2.918,13.006 6.507,13.006 C10.096,13.006 13.007,10.095 13.007,6.506 C13.007,2.917 10.096,0.007 6.507,0.007 ZM9.973,7.451 L7.452,7.451 L7.452,9.972 L5.561,9.972 L5.561,7.451 L3.040,7.451 L3.040,5.561 L5.561,5.561 L5.561,3.040 L7.452,3.040 L7.452,5.561 L9.973,5.561 L9.973,7.451 Z" />
                        </svg>
                        1’001 AUD
                    </span>
                </td>
                <td><span class="table__tbody-text">Executed</span></td>
            </tr>
            <tr>
                <td>
                    <span class="table__tbody-text">10.01.2018</span>
                    <span class="table__tbody-text table__tbody-text_color-blue">20:15</span>
                </td>
                <td>
                    <span class="table__tbody-text">Fiat Deposit </span>
                    <span class="table__tbody-text table__tbody-text_color-gray">— Bank Transfer Payment</span>
                </td>
                <td>
                    <span class="table__tbody-text">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13px"
                            height="13px">
                            <path fill-rule="evenodd" fill="rgb(109, 237, 184)"
                                d="M6.507,0.007 C2.918,0.007 0.008,2.917 0.008,6.506 C0.008,10.095 2.918,13.006 6.507,13.006 C10.096,13.006 13.007,10.095 13.007,6.506 C13.007,2.917 10.096,0.007 6.507,0.007 ZM9.973,7.451 L7.452,7.451 L7.452,9.972 L5.561,9.972 L5.561,7.451 L3.040,7.451 L3.040,5.561 L5.561,5.561 L5.561,3.040 L7.452,3.040 L7.452,5.561 L9.973,5.561 L9.973,7.451 Z" />
                        </svg>
                        3 AUD
                    </span>
                </td>
                <td><span class="table__tbody-text">Pending</span></td>
            </tr>
            <tr>
                <td>
                    <span class="table__tbody-text">10.01.2018</span>
                    <span class="table__tbody-text table__tbody-text_color-blue">12:07</span>
                </td>
                <td>
                    <span class="table__tbody-text">Fiat Deposit </span>
                    <span class="table__tbody-text table__tbody-text_color-gray">— Cash Deposit</span>
                </td>
                <td>
                    <span class="table__tbody-text">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13px"
                            height="13px">
                            <path fill-rule="evenodd" fill="rgb(109, 237, 184)"
                                d="M6.507,0.007 C2.918,0.007 0.008,2.917 0.008,6.506 C0.008,10.095 2.918,13.006 6.507,13.006 C10.096,13.006 13.007,10.095 13.007,6.506 C13.007,2.917 10.096,0.007 6.507,0.007 ZM9.973,7.451 L7.452,7.451 L7.452,9.972 L5.561,9.972 L5.561,7.451 L3.040,7.451 L3.040,5.561 L5.561,5.561 L5.561,3.040 L7.452,3.040 L7.452,5.561 L9.973,5.561 L9.973,7.451 Z" />
                        </svg>
                        15 AUD
                    </span>
                </td>
                <td><span class="table__tbody-text">Awaiting Verification</span></td>
            </tr>
            <tr>
                <td>
                    <span class="table__tbody-text">10.01.2018</span>
                    <span class="table__tbody-text table__tbody-text_color-blue">11:12</span>
                </td>
                <td>
                    <span class="table__tbody-text">BTC Withdrawal: </span>
                    <span class="table__tbody-text table__tbody-text_color-green">0.12345678 </span>
                    <span class="table__tbody-text table__tbody-text_color-green table__tbody-text_fs-9">BTC</span>
                </td>
                <td>
                    <span class="table__tbody-text">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13px"
                            height="13px">
                            <path fill-rule="evenodd" fill="rgb(255, 202, 5)"
                                d="M6.508,-0.001 C2.919,-0.001 0.009,2.909 0.009,6.499 C0.009,10.088 2.919,12.998 6.508,12.998 C10.098,12.998 13.008,10.088 13.008,6.499 C13.008,2.909 10.098,-0.001 6.508,-0.001 ZM9.975,7.444 L3.042,7.444 L3.042,5.553 L9.975,5.553 L9.975,7.444 Z" />
                        </svg>
                        50 AUD
                    </span>
                </td>
                <td><span class="table__tbody-text">Awaiting Verification</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>