// these styles for scrolling in tbody
.transaction-history {
    .table-container {
        height: 237px;
        overflow-x: auto;
    }
    table {
        display: flex;
        flex-flow: column;
        height: 100%;
        width: 100%;

        @media screen and (max-width: 490px) {
            width: 200%;
        }
    }
    table thead {
        /* head takes the height it requires, 
        and it not scaled when table is resized */
        flex: 0 0 auto;
        width: calc(100% - 0.9em);
    }
    table tbody {
        /* body takes all the remaining available space */
        flex: 1 1 auto;
        display: block;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    table tbody tr {
        width: 100%;
    }
    table thead, table tbody tr {
        display: table;
        table-layout: fixed;
    }
}
// ****************


.transaction-history .table {
    background-color: #fcfcfc;

    tbody {
        background-color: white;
    }

    tr {
        border-bottom: 1px solid #e0e0e0;
    }

    th, td {
        padding: 11px 0;

        &:first-child {
            padding-left: 30px;

            @media screen and (max-width: 490px) {
                padding-left: 10px;
            }
        }

        &:nth-child(2) {
            width: 35%;
        }
    }

    &__thead-text {
        font-size: 15px;
        font-family: Mina, sans-serif;
        font-weight: 400;
        color: #131313;
        svg {
            margin-left: 9px;
        }
    }

    &__tbody-text {
        font-size: 14px;
        font-family: Mina, sans-serif;
        font-weight: 400;
        color: #6c6c6c;
        svg {
            margin-left: 8px;
        }
    }

    &__tbody-text_color-blue {
        color: #82adcf;
    }

    &__tbody-text_color-gray {
        color: #b0b0b0;
    }

    &__tbody-text_color-green {
        color: #35bda4;
    }

    &__tbody-text_fs-9 {
        font-size: 9px;
        text-transform: uppercase;
    }
}