<div class="logo">
    <div class="logo__icon">
        <span class="logo__letter">B</span>
    </div>
    <span class="logo__text">Bitcoin</span><span class="logo__text logo__text_color-purple">Babe</span>
</div>