.logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__icon {
        display: flex;
        width: 23px;
        height: 23px;
        background-color: $pink;
        margin-right: 14px;
    }

    &__letter {
        margin: auto;
        color: white;
        font-size: $font-size-3;
    }

    &__text {
        display: flex;
        font-size: $font-size-4;
        color: #a1a1a0;
        line-height: 1;
        padding-top: 5px;
    }

    &__text_color-purple {
        color: $purple;
    }
}