<div class="bitcoin-price border-block">
    <div class="bitcoin-price__header border-block__header accordion">
        <span class="border-block__title border-block__title_deckstop">Bitcoin Price: </span>
        <span class="border-block__title border-block__title_mobile">BTC Price: </span>
        <div class="bitcoin-price-account">
            <span class="bitcoin-price-account__number"> 14’848,82 </span>
            <span class="bitcoin-price-account__coin-name">AUD</span>
        </div>
        <button class="btn-border">
            Buy Bitcoin
        </button>
    </div>
    <div class="border-block__body bitcoin-price__body">
        <img class="bitcoin-selling-price__graph" src="/img/graph1.png" alt="img">
    </div>
</div>