.bitcoin-price {
    margin-top: 20px;

    @media screen and (max-width: 490px) {
        margin-top: 15px;
    }

    &__header {
        display: flex;
        align-items: center;
    }

    &__graph {
        width: 100%;
    }
}

.bitcoin-price-account {
    margin-left: 10px;

    &__number {
        font-family: Avenir-Lt-Std, sans-serif;
        font-weight: 300;
        font-size: $font-size-4;
        color: #676768;
    }

    &__coin-name {
        font-family: Mina, sans-serif;
        font-weight: 700;
        font-size: $font-size-1;
        color: #adadaf;
        text-transform: uppercase;
    }
}