<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Главная страница</title>
  {% include 'templates/head.html' %}
</head>

<body>
  <div class="page">
    <div class="page__left">
      {% include 'blocks/sidebar/sidebar.html' %}
    </div>
    <div class="page__right">
      {% include 'blocks/header/header.html' %}
      <div class="container">
        {% include 'blocks/wallets/wallets.html' %}

        {% include 'blocks/alert/alert.html' %}

        
        <section class="section">
          {% include 'blocks/account-balance/account-balance.html' %}

          {% include 'blocks/transaction-history/transaction-history.html' %}

        </section>

        <section class="section">
          <div class="section__column">
            {% include 'blocks/bitcoin-price/bitcoin-price.html' %}
            {% include 'blocks/bitcoin-selling-price/bitcoin-selling-price.html' %}
          </div>
          
          {% include 'blocks/social-media-feed/social-media-feed.html' %}
          
        </section>
     
      </div>

    {% include 'templates/modals.html' %}

    {% include 'templates/scripts.html' %}

    {% include 'blocks/footer/footer.html' %}

    <ul class="mobile-menu" id="mobile-menu">
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Home</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Buy Bitcoin</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Sell Bitcoin</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">History</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Settings</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Log out</a></li>
    </ul></div>
  </div>
</body>

</html>