<header class="header">
    <div class="container header__container">
        <a href="#" class="header__hamburger" id="hamburger">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px"
                height="16px">
                <path fill-rule="evenodd" opacity="0.322" fill="rgb(0, 0, 0)"
                    d="M-0.000,15.999 L-0.000,12.799 L22.000,12.799 L22.000,15.999 L-0.000,15.999 ZM-0.000,6.399 L22.000,6.399 L22.000,9.599 L-0.000,9.599 L-0.000,6.399 ZM-0.000,-0.001 L22.000,-0.001 L22.000,3.199 L-0.000,3.199 L-0.000,-0.001 Z" />
            </svg>
        </a>
        <p class="header__text">Hello <span class="header__name">Bob</span>! Hope you have a wonderful day!</p>
        <a href="#" class="header__logo">
            {% include './logo/logo.html' %}
        </a>
    </div>
</header>