@import 'logo/logo.scss';

.header {
    width: 100%;
    font-family: Mina, sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 490px) {
        position: fixed;
        top: 0;
        z-index: 9;
        height: 63px;
        background-color: #f6f6f6;
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 17px;
    }

    &__container {
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 490px) {
            height: 63px !important;
            justify-content: flex-start !important;
        }
    }

    &__text {
        margin-bottom: 0;
        
        @media screen and (max-width: 490px) {
              display: none;
        }
    }

    &__name {
        font-weight: bold;
        color: $purple;
    }

    &__hamburger {
        display: none;
        margin-right: 23px;

        @media screen and (max-width: 490px) {
            display: block !important;
        }
    }

}
